h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8vh;
  z-index: 1;
  position: relative;
  color: #3f3f3f;
}

p {
  color: #e2b77f;
  opacity: 40%;
  line-height: 80%;
  margin-top: 0%;
}

#stub-out {
  margin-left: 31vh;
  margin-top: 5vh;
  background: #cab3b1;
  color: #fff;
  box-shadow: 0 6px #aa9694;
  border: none;
  border-radius: 12px;
  width: 20vh;
  height: 4vh;
}

#smoke {
  position: relative;
  top: -19vh;
  left: -12vh;
  font-size: 7rem;
  width: 5%;
  filter: blur(5px);
  z-index: 2;
}

#cigarette-container {
  width: 120vh;
  height: 10vh;
  margin-top: 5vh;
  margin-left: 30vh;
  display: flex;
  flex-direction: row;
}

#filter {
  background: linear-gradient(180deg, #925c15 0%, #b5731e 50%, #925c15 100%);
  width: 20%;
  height: 100%;
}

#tobacco-chamber {
  background: linear-gradient(180deg, #c2bdb5 0%, #efedea 50%, #c2bdb5 100%);
  width: 74%;
  height: 100%;
}

#burning {
  width: 1%;
  height: 100%;
}

#zippo-container {
  width: 30vh;
  height: 45vh;
  margin-top: 5vh;
  margin-left: 120vh;
}

#lid {
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(133, 133, 133, 1) 35%,
    rgba(56, 56, 56, 1) 100%
  );
  position: relative;
  width: 100%;
  height: 35%;
  top: 1%;
  border-bottom: solid 3px #3f3f3f;
  border-radius: 20% 20% 0% 0%;
  z-index: 3;
}

.open {
  transform: translate(-95%, -10%) rotate(-120deg);
}

#flame {
  position: relative;
  top: -70%;
  left: 40%;
  font-size: 3rem;
  width: fit-content;
}

#body {
  width: 100%;
  height: 65%;
}

#grille {
  background: linear-gradient(
    90deg,
    rgb(66, 66, 66) 0%,
    rgb(92, 92, 92) 25%,
    rgb(66, 66, 66) 100%
  );
  position: relative;
  width: 40%;
  height: 30%;
  left: 30%;
  top: -70%;
  z-index: 2;
}

#grille {
  background-color: rgb(66, 66, 66);
  position: relative;
  width: 40%;
  height: 30%;
  left: 30%;
  top: -70%;
  z-index: 2;
}

#flint-wheel {
  background: radial-gradient(
    circle,
    rgba(17, 17, 17, 1) 0%,
    rgba(175, 175, 175, 1) 100%
  );
  position: relative;
  width: 25%;
  height: 25%;
  left: 60%;
  top: -95%;
  border-radius: 50%;
  border: dashed #ffffff;
  z-index: 1;
}

#body-case {
  /* background-color: rgb(66, 66, 66); */
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(133, 133, 133, 1) 35%,
    rgba(56, 56, 56, 1) 100%
  );
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0%;
  border-radius: 0% 0% 10% 10%;
  z-index: 2;
}

#cigarette-pack {
  background-color: gray;
  height: 35vh;
  width: 20vh;
  margin-left: 10vw;
  margin-top: -30vh;
}

#pack-lid {
  background-color: rgb(66, 66, 66);
  height: 20%;
  width: 100%;
}

#pack-lip {
}
